* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

header {
  color: #f9faf8;
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 8rem;
}

header > .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

header > .nav-link > ul {
  display: flex;
  list-style: none;
}

header > .nav-link > ul > li {
  color: #e5e7eb;
  font-size: 1.125rem;
  margin-left: 2rem;
}

.hero {
  color: #f9faf8;
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
  padding: 4rem 8rem 8rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-content > h1 {
  font-size: 3rem;
  font-weight: extra-bold;
}

.hero-content > p {
  font-size: 1.125rem;
  color: #e5e7eb;
}

.hero-content > button {
  align-self: flex-start;
  background: #3882f6;
  border: none;
  color: #f9faf8;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1.5rem;
  padding: 0.5rem 2.25rem;
  border-radius: 0.625rem;
}
